@import 'header.css';

/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Lora&family=Petit+Formal+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}


body {
    line-height: 1.4;
    /* background-color: #E7D8C1;
    background-color: #efe4d2; */
    background-color: #f5ede1;
    background-color: #faf5ee;
    color: #333;
    font-family: 'Lora', sans-serif;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
    font-family: 'Petit Formal Script', cursive;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    font-family: 'Petit Formal Script', cursive;
}

p {
    margin-bottom: 1.4rem;
    font-size: 1rem;
}


.main {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 2em;
}


/* CIRCLE IMAGES */
.circle-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.circle-header img {
    width: 300px;
    border-radius: 50%;
    margin: 0.6rem 2rem;
}


/* NAVBAR */

.navbar2 {
    /* position: absolute;
    top: 0.6rem;
    left: 0; */
    width: 100%;
    /* overflow: auto; */
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-image: linear-gradient(to right, #D5C8A8, #E5DCCB, #D4CDC7, #ACB3C3, #7594B1);
    /* background-color: #faf5ee; */
}

.onelink a {
    padding: 5px 20px;
    text-decoration: none;
    color: #384B69;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.dropdown {
    /* position: relative; */
    display: inline-block;
}

.dropdown-link {
    padding: 5px 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.dropdown-link a {
    text-decoration: none;
    color: #384B69;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    /* padding: 10px 20px; */
    background-color: #ACB3C3;
    border-radius: 20px;
}

.dropdown-content a {
    text-decoration: none;
    color: #384B69;
    padding: 5px 20px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-radius: 20px;
}

.dropdown-content p {
    margin-bottom: 0.7rem;
}

.dropdown:hover .dropdown-content {
    display: block;
    /* padding: 10px 20px; */
    background-color: #C5C5C5;
    color: #6387AB;
}

.dropdown:hover .dropdown-link {
    background-color: #faf5ee;
    color: #6387AB;
    border-radius: 20px;
}

.navbar2 a:hover {
    background-color: #faf5ee;
    color: #6387AB;
    /* border: 5px solid white; */
    border-radius: 20px;
}

.hero-title {
    color: #384B69;
    text-align: center;
    width: 100%;
}

/* .triangle {
    width: 20px;
    height: 20px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
} */

.navbar {
    position: absolute;
    top: 0.6rem;
    left: 0;
    margin-top: 0.5rem;
    width: 100%;
    overflow: auto;
    display: inline-block;
    /* color: #ffffff; */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    /* border-radius: 20px; */
    text-decoration: none;
    color: #384B69;
    /* font-weight: bold; */
    font-size: 1.2rem;
    letter-spacing: 1px;
    /* background-color: #91A5C0; */
    /* border-radius: 20px; */
    /* font-size: larger; */
}

.navbar a:hover {
    background-color: #ffffff;
    color: #6387AB;
    /* border: 5px solid white; */
    border-radius: 20px;
}

.nav-title {
    font-size: 2rem;
    font-family: 'Petit Formal Script', cursive;
    color: #384B69;
    padding: 5px 20px;
}

/* FOOTER */
.myfoot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.small-circle {
    /* background-color: rgb(221, 221, 221); */
    /* background-color: #6387AB; */
    background-color: #dacfbd;
    border-radius: 50%;
    margin: 1rem;
}

.one {
    width: 20px;
    height: 20px;
}

.two {
    width: 35px;
    height: 35px;
}

.three {
    width: 50px;
    height: 50px;
}

.foot-text {
    /* color: #999999; */
    /* color: #6387AB; */
    /* color: #333; */
    color: #b3a187;;
    font-size: 1.2rem;
}


/* MAIN */
.index-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #ffffff; */
    /* border-radius: 10px; */
}

.index-head {
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 1rem;
}

.main-text {
    grid-column: 1/3;
    padding: 1rem;
    /* background-color: #ffffff; */
    /* background-color: #ebebeb; */
}

.main-text p {
    font-size: 1.1rem;
}

.main-img {
    grid-column: 3/4;
    padding: 1rem;
}

.main-img img {
    border-radius: 50%;
}

.line-circles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.circle-1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #dacfbd;
    margin: 20px;
}

.circle-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dacfbd;
    margin: 20px;
}

.circle-3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #dacfbd;
    margin: 20px;
}

.circle-4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #dacfbd;
    margin: 20px;
}

/* REPORT */

.report-head {
    text-align: center;
}

/* LUCKY */
.crazy {
    font-size: 2rem;
    font-family: 'Courier', monospace;
    color: rgb(210, 56, 249);
}

.lucky-img {
    max-width: 400px;
}

.latin {
    font-style: italic;
}
