@import 'variables.css';
@import 'general.css';
@import 'header.css';
@import 'decorations.css';
@import 'footer.css';
@import 'pages.css';
@import 'cards.css';
@import 'api.css';
@import 'game.css';

@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Lora&family=Petit+Formal+Script&display=swap');
