/* STYLING FOR LIBRARY */

/* flash message */
.flash {
    font-size: 1.4rem;
    color: var(--crazy);
    font-weight: bold;
    margin-bottom: 1rem;
}

/* image */
.lib-img {
    grid-column: 3/4;
    padding: 1rem;
}

/* bottom */
.lib-bottom {
    text-align: center;
    grid-column: 1/4;
}

/* Table for library*/
.lib-table th {
    border: none;
    padding: 0.3rem;
}

.lib-table td {
    padding: 0.3rem;
}

.lib-table {
    margin-bottom: 2rem;
}

.colId {
    width: 30px;
}

.colImage {
    width: 50px;
}

.colIsbn {
    width: 130px;
}

.colTitle {
    width: 300px;
}

.colEdit {
    width: 220px;
}

.lib-table i {
    padding-left: 0.4rem;
    font-size: 1.4rem;
}

/* Table for form */
.form-table td {
    padding: 0.3rem;
}

.colText {
    width: 180px;
}

.lib-btn {
    padding: 0.4rem 2rem;
    border-radius: 20px;
    font-size: 1.2rem;
    background: var(--circle);
    border: none;
    font-family: 'Lora', serif;
}

.lib-btn:hover {
    background: var(--hoverlink);
    color: white;
}

.bottom-table {
    text-align: center;
}
