/* STYLING FOR MAIN SECTION */

/* MAIN */
.index-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.index-head {
    grid-column: 1/4;
    text-align: center;
    padding-bottom: 1rem;
}

.main-text {
    grid-column: 1/3;
    padding: 1rem;
}

.main-text p {
    font-size: 1.1rem;
}

.main-img {
    grid-column: 3/4;
    padding: 1rem;
}

.side-img {
    grid-column: 3/4;
    padding: 1rem;
}

.main-img img {
    border-radius: 50%;
}

img {
    max-width: 100%;
}

/* For alternating columns */

.main-text2 {
    grid-column: 2/4;
    padding: 1rem;
}

.main-img2 {
    grid-column: 1/2;
    padding: 1rem;
}

.main-img2 img {
    border-radius: 50%;
}

/* REPORT */
.report-head {
    text-align: center;
    grid-column: 1/5;
}

.report-head h1 {
    margin-bottom: 0;
}

.report-main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.report-text {
    grid-column: 1/4;
    padding: 1rem;
}

.report-text p {
    font-size: 1.1rem;
}

.report-text2 p {
    font-size: 1.1rem;
}

.report-side {
    grid-column: 4/5;
    padding: 1rem;
    align-self: center;
}

.report-img {
    max-width: 100%;
    border-radius: 50%;
}

.report-side-text {
    text-align: center;
}

.report-side-text a {
    font-size: 1.2rem;
}

/* For alternating column */

.report-text2 {
    grid-column: 2/5;
    padding: 1rem;
}

.report-side2 {
    grid-column: 1/2;
    padding: 1rem;
    align-self: center;
}



/* LUCKY */
.crazy {
    font-size: 2rem;
    font-family: 'Courier', monospace;
    color: var(--crazy);
}

.lucky-img {
    max-width: 350px;
}

.latin {
    font-style: italic;
}


/* METRICS */
.metrics-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.full-text {
    grid-column: 1/4;
    padding: 1rem;
}

.three-text {
    grid-column: 1/3;
    padding: 1rem;
}

.metrics-img {
    grid-column: 3/4;
    padding: 1rem;
}

.metrics-circles {
    text-align: center;
    grid-column: 1/4;
}

.metrics-bold {
    font-weight: bold;
}