/* VARIABLES */

:root {
    --background: #faf5ee;
    --plaintext: #333;
    --link: #384B69;
    --hoverlink: #6387AB;
    --circle: #dacfbd;
    --foottext: #b3a187;
    --crazy: #c22bca;
    --dropdownback: #C5C5C5;
}
