{% extends "cardbase.html.twig" %}

{% block title %}Card game{% endblock %}

{% block body %}
    <div class="index-card">
        <h2>Struktur på klasser</h2>

        <h3>Card</h3>
        <p>Basklassen för ett spelkort. Innehåller protected properties i form av suit, rank och value.
            Suit och rank skickas in som argument till konstruktorn när
            kortet skapas. Innehåller value som int, vilket behövdes för att kunna sortera korten. Det finns
            publika metoder för att ta fram suit, rank, value och även color.
        </p>

        <h3>CardGraphic</h3>
        <p>Subklass till Card. Innehåller en statisk variabel, en array med de fyra utf8-tecknen och en metod
            för att visa rätt tecken. Visade sig att den här klassen inte behövdes för att visa ett 
            utf8-tecken, men den kanske kan vara användbar framöver om jag vill använda bilder istället.
        </p>

        <h3>DeckOfCards</h3>
        <p>De 52 spelkorten skapas i kortlekens konstruktor och sparas i en array i kortleksobjektet. 
            Det finns metoder för att sortera och blanda kortleken samt dra kort och visa antal 
            återstående kort. Det finns en metod som visar
            upp spelkorten och en som visar dem i ett format som passar för JSON. Förhållandet mellan Card
            och DeckOfCards borde bli komposition, i det här fallet så existerar ju bara korten inuti ett
            kortleksobjekt.
        </p>

        <h3>CardHand</h3>
        <p>CardHand tar emot en array med spelkort i konstruktorn (det kan vara de som dras från 
            kortleken). Korten sparas som en array i handobjektet. Det finns metoder för att visa upp 
            handen och en metod för att lägga till ett enskilt kort, som kanske blir användbart sedan.
            Förhållandet mellan Card och CardHand borde bli aggregation, man kan tänka sig att 
            korten återvänder till kortleksobjektet när de lämnar handen och alltså kan de existera utanför
            handobjektet.
        </p>

        <h2>UML-diagram</h2>

        <img src="{{ asset('img/uml.png') }}" alt="UML diagram">

    </div>
    
    
{% endblock %}
