{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="report-main">
        <div class="report-head">
            <h1>Redovisning</h1>
        </div>
        <div class="report-text" id="kmom01">
            <h2>Kmom01 - Ramverk</h2>
            <p>Här kommer snart en text om kursmoment 1.</p>
            
            <div class="line-circles">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <div class="circle-3"></div>
                <div class="circle-4"></div>
                <div class="circle-3"></div>
                <div class="circle-2"></div>
                <div class="circle-1"></div>
            </div>
        </div>


        <div class="report-text" id="kmom02">
            <h2>Kmom02</h2>
            <p>Här kommer snart en text om kursmoment 1.</p>

            <p>Här kommer snart en text om kursmoment 1.</p>

            <div class="line-circles">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <div class="circle-3"></div>
                <div class="circle-4"></div>
                <div class="circle-3"></div>
                <div class="circle-2"></div>
                <div class="circle-1"></div>
            </div>

        </div>

    </div>
    
    
{% endblock %}
